name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Test Linux ARM64
      run: |
        nix build .#windsurf.linux.arm64-targz
        file result/*
        rm -rf result

    - name: Test Windows ARM64 build
      run: |
        nix build .#windsurf.windows.arm64-zip
        file result/*
        rm -rf result
